include dwre_tools/schemas/*.xsd
include dwre_tools/schemas/*.json
include requirements-base.txt
include requirements-test.txt
include requirements-dev.txt
include dwre_tools/templates/*.html
recursive-include dwre_tools/cartridges *
include DWREApiDoc.docset.zip
