<html>
<head>
<title>Data Export</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>

<div class="container">
<form action="{{url_for('shutdown')}}" method="post">
<h1>Data Export</h1>

<p>Select the items to export</p>

<div style="margin-left: 40px; margin-bottom: 20px;">
<button class="btn btn-danger btn-lg" name="cancel">Cancel</button>
<button class="btn btn-primary btn-lg" name="export">Export</button>
</div>

<ul>
{%- for item in data_units recursive %}
    <li>
    <input type="checkbox" name="{{item.id}}" id="{{item.id}}">
    <label for="{{item.id}}">{{ item.text }}</label>
    {%- if item.children -%}
        <ul class="submenu">{{ loop(item.children) }}</ul>
    {%- endif %}
    </li>
{%- endfor %}
</ul>

<div style="margin-left: 40px; margin-top: 20px;">
<button class="btn btn-danger btn-lg" name="cancel">Cancel</button>
<button class="btn btn-primary btn-lg" name="export">Export</button>
</div>

</form>

</div>

<script>
  $('input[type="checkbox"]').click(function() {
    if( $(this).is(':checked') ) {
      $(this).siblings('.submenu').find('input[type="checkbox"]').prop('disabled', true);
    } else {
      $(this).siblings('.submenu').find('input[type="checkbox"]').prop('disabled', false);
    }
  });
</script>

</body>
</html>
